/* Common style attributes to all Apps
 */

.App {
  text-align: center;
  height: 100%;
}

.view {
  height: 100%;
  width: 80%;
}

.title {
  height: 10%;
  top: 0;
}
.content {
  height: 90%;
}

/* Style attributes for Cluster App
 */
#cluster {
  height: 100%;
  width: 50%;
  float: left;
  background-color: antiquewhite;
}

#cluster-analysis{
  height: 100%;
  width: 50%;
  float: left;
}

#cluster-viz{
  margin:1rem
}

#rubric-design{
  height: 50%;
  background-color: lightblue;
}

#rubric-redesign{
  height: 30%;
}

#rubric-display{
  height: 100%;
  background-color: lightblue;
}

#overview {
  height: 50%;
  background-color: yellowgreen;
}

#error {
  height: 30%;
  background-color: lightpink;
}
/* Style attributes for Check & Regrade App
 */