/* Common style attributes to all Apps
 */

.App {
  margin-top:60;
  text-align: center;
  height: 60%;
}

.view {
  margin-top:60;
  height: 100%;
  width: 80%;
}

.title {
  height: 5%;
  top: 60;
}
.content {
  height: 90%;
  width: calc(100vw - 200px);
  left: 600px;
  position: relative;
}

/* Style attributes for Cluster App
 */
#cluster {
  height: 100%;
  width: 50%;
  float: left;
  background-color: white;
}

#cluster-analysis{
  height: 100%;
  width: 50%;
  float: left;
}

#cluster-viz{
  margin:1rem
}

#rubric-design{
  height: 45%;
  background-color: white;
}

#rubric-redesign{
  height: 30%;
}

#rubric-display{
  height: 100%;
  background-color: white;
}

#overview {
  height: 55%;
  background-color: white;
}

#error {
  height: 30%;
  background-color: white;
}
/* Style attributes for Check & Regrade App
 */

 .sidebar {
  width: 600px;
  position: fixed;
  top: 0;
  left: 200px;
}
